yara-python
pefile
die-python
unicorn-unipacker
unipacker
requests
openai
python-dotenv
redis
torch>=1.7.0
torchvision
numpy
captum
scikit-learn
matplotlib
langchain-google-genai
langchain-core
pydantic
qiling
pytest